html {
    overflow: hidden;
}

body {
    margin: 0;
}

#content {
    height: 100vh
}

.ant-form-item .ant-form-item-label > label {
    height: unset;
}

.ant-col-24.ant-form-item-label {
    padding: 0;
}

.ant-form-item {
    margin-bottom: 12px;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-header-text {
    font-weight: 700;
}

.ant-spin-nested-loading, .ant-spin-nested-loading > .ant-spin-container {
    height: 100%;
}
