html {
    overflow: hidden;
}

body {
    margin: 0;
}

#content {
    height: 100vh
}

.ant-form-item .ant-form-item-label > label {
    height: unset;
}

.ant-col-24.ant-form-item-label {
    padding: 0;
}

.ant-form-item {
    margin-bottom: 12px;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-header-text {
    font-weight: 700;
}

.schedula-ant-menu.ant-menu-light .ant-menu-submenu a,
.schedula-ant-menu.ant-menu-light > .ant-menu .ant-menu-submenu a,
.schedula-ant-menu.ant-menu-light .ant-menu-submenu a:hover,
.schedula-ant-menu.ant-menu-light > .ant-menu .ant-menu-submenu a:hover {
    color: inherit;
}