## ZIP files:
#  You need this into your global `~/.gitconfig`:
#
#   [diff "zip"]
#       textconv = unzip -c -a
*.pptx  diff=zip
*.xlsx  diff=zip
*.zip   diff=zip
co2mpas/sampling/dice.ipynb filter=dropoutput_ipynb

# Crypto-TCs with text that needs to be maintained as is.
tests/sampling/*.py text eol=lf  
co2mpas/sampling/*.py text eol=lf
