.schedula-antd-tabs-field .ant-tabs-left > .ant-tabs-nav,
.schedula-antd-tabs-field .ant-tabs-right > .ant-tabs-nav,
.schedula-antd-tabs-field .ant-tabs-left > div > .ant-tabs-nav,
.schedula-antd-tabs-field .ant-tabs-right > div > .ant-tabs-nav {
    min-width: 24px;
}

.schedula-antd-tabs-field.ant-tabs.ant-tabs-left .ant-tabs-extra-content,
.schedula-antd-tabs-field.ant-tabs.ant-tabs-right .ant-tabs-extra-content {
    width: 100%;
    padding: 2px;
}

.hide-fieldset-border {
    overflow: auto;
}

.hide-fieldset-border fieldset:first-child,
.hide-div-border div:first-child {
    border: 0
}

.schedula-antd-tabs-field .ant-tabs-tabpane,
.h-100 {
    height: 100%
}

.schedula-antd-tabs-field > .ant-tabs-nav .ant-tabs-tab {
    padding: 0 !important;
    border: none !important;
    cursor: default !important;
}

.schedula-antd-tabs-field.ant-tabs-dropdown .ant-tabs-dropdown-menu-item-remove {
    display: none !important;
}

.schedula-antd-tabs-field.ant-tabs-dropdown .ant-tabs-dropdown-menu-item {
    cursor: default !important;
}

.schedula-antd-tabs-field .ant-tabs-nav {
    margin-bottom: 0 !important;
}

.schedula-antd-tabs-field.ant-tabs.ant-tabs-card.ant-tabs-left .ant-tabs-nav-add,
.schedula-antd-tabs-field.ant-tabs.ant-tabs-card.ant-tabs-left .ant-tabs-nav-more {
    border-radius: 4px 0 0 4px;
    margin: 2px 0 0 0;
}

.schedula-antd-tabs-field.ant-tabs-card.ant-tabs-left > .ant-tabs-nav .ant-tabs-tab,
.schedula-antd-tabs-field.ant-tabs-card.ant-tabs-left > div > .ant-tabs-nav .ant-tabs-tab {
    border-radius: 4px 0 0 4px;
}

.schedula-antd-tabs-field.ant-tabs-card.ant-tabs-right > .ant-tabs-nav .ant-tabs-tab,
.schedula-antd-tabs-field.ant-tabs-card.ant-tabs-right > div > .ant-tabs-nav .ant-tabs-tab {
    border-radius: 0 4px 4px 0;
}

.schedula-antd-tabs-field.ant-tabs-card.ant-tabs-bottom > .ant-tabs-nav .ant-tabs-tab,
.schedula-antd-tabs-field.ant-tabs-card.ant-tabs-bottom > div > .ant-tabs-nav .ant-tabs-tab {
    border-radius: 0 0 4px 4px;
}

.schedula-antd-tabs-field.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab,
.schedula-antd-tabs-field.ant-tabs-card.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-tab {
    border-radius: 4px 4px 0 0;
}

.schedula-antd-tabs-field.ant-tabs.ant-tabs-card.ant-tabs-bottom > .ant-tabs-nav .ant-tabs-nav-add,
.schedula-antd-tabs-field.ant-tabs.ant-tabs-card.ant-tabs-bottom > div > .ant-tabs-nav .ant-tabs-nav-add,
.schedula-antd-tabs-field.ant-tabs.ant-tabs-card.ant-tabs-bottom > .ant-tabs-nav .ant-tabs-nav-more,
.schedula-antd-tabs-field.ant-tabs.ant-tabs-card.ant-tabs-bottom > div > .ant-tabs-nav .ant-tabs-nav-more {
    border-radius: 0 0 4px 4px;
}

.schedula-antd-tabs-field.ant-tabs.ant-tabs-card.ant-tabs-right > .ant-tabs-nav .ant-tabs-nav-add,
.schedula-antd-tabs-field.ant-tabs.ant-tabs-card.ant-tabs-right > div > .ant-tabs-nav .ant-tabs-nav-add,
.schedula-antd-tabs-field.ant-tabs.ant-tabs-card.ant-tabs-right > .ant-tabs-nav .ant-tabs-nav-more,
.schedula-antd-tabs-field.ant-tabs.ant-tabs-card.ant-tabs-right > div > .ant-tabs-nav .ant-tabs-nav-more {
    border-radius: 0 4px 4px 0;
    margin: 2px 0 0 0
}

.schedula-tabs-field-tab-label-top > .ant-btn-compact-item.ant-btn-compact-first-item {
    border-end-start-radius: 0;
}

.schedula-tabs-field-tab-label-top > .ant-btn-compact-item.ant-btn-compact-last-item {
    border-end-end-radius: 0;
}

.schedula-tabs-field-tab-label-right > .ant-btn-compact-item.ant-btn-compact-first-item {
    border-end-start-radius: 0;
    border-start-start-radius: 0;
}

.schedula-tabs-field-tab-label-left > .ant-btn-compact-item.ant-btn-compact-last-item {
    border-start-end-radius: 0;
    border-end-end-radius: 0;
}

.schedula-antd-tabs-field.ant-tabs-left > .ant-tabs-nav {
    align-items: end;
}

.schedula-tabs-field-tab-label-bottom > .ant-btn-compact-item.ant-btn-compact-first-item {
    border-start-start-radius: 0;
}

.schedula-tabs-field-tab-label-bottom > .ant-btn-compact-item.ant-btn-compact-last-item {
    border-start-end-radius: 0;
}

.schedula-antd-tabs-field .ant-tabs-tab-remove {
    display: none;
}

.schedula-antd-tabs-field .ant-tabs-nav-add,
.schedula-antd-tabs-field .ant-tabs-nav-more {
    min-height: 24px !important;
    min-width: 24px !important;
    padding: 0 !important;
    border: none !important;
    background: #d9d9d9 !important;
}


.schedula-antd-tabs-field.ant-tabs .ant-tabs-tab .anticon {
    margin-right: unset;
}

.schedula-antd-tabs-field .ant-tabs-tabpane {
    padding: 0 !important;
}