.flexible-modal {
    position: absolute!important;
    z-index: 10000000000!important;
    border: none!important;
    background: transparent!important;

}

.flexible-modal-mask {
    position: fixed!important;
    display: none!important;
    height: 100%!important;
    background: rgba(55, 55, 55, 0.6)!important;
    top: 0!important;
    left: 0!important;
    right: 0!important;
    bottom: 0!important;
}

.flexible-modal-resizer {

    position: absolute!important;
    right: 0!important;
    bottom: 0!important;
    cursor: se-resize!important;
    margin: 5px!important;
    border-bottom: solid 2px #333!important;
    border-right: solid 2px #333!important;
}

.flexible-modal-drag-area {
    background: unset!important;
    height: 64px!important;
    position: absolute;
    left: 0!important;
    right: 64px!important;
    width: unset!important;
    top: 0!important;
    cursor: move!important;
}

.flexible-modal-drag-area-left, .flexible-modal-drag-area-right, .flexible-modal-drag-area-bottom, .flexible-modal-drag-area-top {
    display: none!important;
}