.schedula-flex-layout.flexlayout__layout {
    --color-background: transparent;
    --color-tabset-background-selected: transparent;
    --color-tabset-background-maximized: transparent;
    --color-splitter: #d9d9d9;
}

.schedula-flex-layout.flexlayout__layout {
    position: relative;
    height: 100%;
}

.main-tab {
    top: 0 !important;
    bottom: 0 !important;
    height: unset !important;
    overflow-y: hidden;
}