.TableField .ant-table-wrapper {
    height: 100%;
}

.TableField.ant-table {
    flex-direction: column;
    display: flex;
}

.TableField .ant-table-container {
    flex: 1;
}

.TableField .ant-table-fixed-header {
    height: 100%;
}

.TableField .ant-table-fixed-header > .ant-table-container {
    flex-direction: column;
    display: flex;
}

.TableField .ant-table-fixed-header > .ant-table-container > .ant-table-body {
    flex-grow: 1;
}

.TableField .ant-table-label-custom > label::after {
    content: unset !important;
}

.TableField .ant-table-label-custom {
    text-align: unset !important;
}
