.univer-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Also hide the menubar */
:global(.univer-menubar) {
    display: none;
}

.univer-preview .univer-status-bar,
.univer-preview .univer-sheet-bar-options .univer-sheet-bar-btn:has(.univerjs-icon-increase-single),
.univer-preview .univer-app-container-header,
.univer-preview .univer-popup .univer-menu,
.univer-preview .univer-dropdown .univer-slide-tab-item-dropdown,
.univer-preview .univer-defined-name-drop-down {
    display: none;
}

.univer-preview .univer-formula-box .univer-formula-bar .univer-formula-icon-wrapper .univer-icon-container.univer-icon-container-error,
.univer-preview .univer-formula-box .univer-formula-bar .univer-formula-icon-wrapper .univer-icon-container.univer-icon-container-success {
    visibility: hidden;
}